.footer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-family: $normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $textLightColor;
    flex-wrap: wrap;
    background-color: $backgroundColor;
    border-top: 1px solid $borderSectionColor;
}
.footer__text {
    padding: 8px 0;
}