@keyframes "b_rotate" {
	from {
		transform: rotate(0deg) scale(1);
	}
	to {
		transform: rotate(180deg) scale(1.25);
	}
}
@keyframes "s_rotate" {
	from {
		transform: rotate(0deg) scale(1);
	}
	to {
		transform: rotate(-360deg) scale(1.25);
	}
}
@keyframes "b_coloring" {
	0% {
		background-color: lightgrey;
	}
	to {
		background-color: lightgreen;
	}
}
@keyframes "btm_rotate" {
	0%,5% {
		transform: rotate(45deg) scale(1);
	}
	50% {
		transform: rotate(-90deg);
	}
	to {
		transform: rotate(0deg) scale(1.25);
	}
}
