@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.ttf"), url("../fonts/TTLakes-Regular.woff"),
    url("../fonts/TTLakes-Regular.eot");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TT Lakes medium";
  src: url("../fonts/TTLakes-Medium.ttf"), url("../fonts/TTLakes-Medium.woff"),
    url("../fonts/TTLakes-Medium.eot");
  font-style: normal;
  font-weight: medium;
}
@font-face {
  font-family: "TT Lakes bold";
  src: url("../fonts/TTLakes-Bold.ttf"), url("../fonts/TTLakes-Bold.woff"),
    url("../fonts/TTLakes-Bold.eot");
  font-style: normal;
  font-weight: bold;
}
