.footer {
    display: flex;
    flex-wrap: wrap;
}
.footer__description {
    padding: 16px;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #7E7E82;
}