html {
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 0;
	}
}
body {
	margin: 0;
	padding: 0;
	background-color: $backgroundColor;
}
button {
	margin: 0;
	padding: 0;
	border: none;
	&:active {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}
a {
	&:visited {
		color: $textColor;
	}
	&:hover {
		color: $textColor;
	}
	&:focus {
		color: $textColor;
	}
	&:active {
		color: $textColor;
	}
}
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	font-size: 0;
}