$backgroundColor: #f8f8f8;
$backgroundColorWhite: #ffffff;
$borderSectionColor: #b8ffec;
$borderBoxColor: #EAEAEA;
$borderWidth: 1px;
$borderWidthBold: 2px;
$boxShadowLeft: 12px 0px 80px -1px #34495e;
$boxShadowRight: -12px 0px 80px -1px #34495e;
$btnRed: #ff3e79;
$textColor: #1B1C21;
$textInput: #B5B6BC;
$textLightColor: #7E7E82;
$bold: TT Lakes bold;
$medium: TT Lakes medium;
$normal: TT Lakes;
$readMore: url(../img/text/readmore.svg);