.btn-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #FF3E79;
	background-color: #fff;
	margin-right: 16px;
	&:hover {
		cursor: pointer;
	}
}
