/*.logo-container {
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.logo-wrapper {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
	padding: 24px 0;
	height: 135px;
	overflow-y: hidden;
}
.logo-wrapper--opend {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
	padding-top: 24px;
	height: auto;
	overflow-y: hidden;
}*/
.logo__show {
	display: flex;
	font-family: $medium;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: $textColor;
	margin-left: 35px;
	margin-bottom: 34px;
	margin-top: 24px;
	cursor: pointer;
	background-color: $backgroundColor;
	&:hover {
        font-size: 18px;
        color: $btnRed;
        transition: 0.45s;
    }
}
.logo__show--more {
	cursor: pointer;
	&::before {
		content: $readMore;
		padding-right: 15px;
		padding-left: 4px;
	}
	&:hover {
        font-size: 18px;
        color: $btnRed;
        transition: 0.45s;
    }
}
.logo__show--less {
	cursor: pointer;
	margin-bottom: 22px;
	margin-top: 0px;
	&::before {
		content: $readMore;
		transform: rotate(180deg) translateX(17px);
		margin-left: 24px;
		cursor: pointer;
	}
	&:hover {
        font-size: 18px;
        color: $btnRed;
        transition: 0.45s;
    }
}
