body {
	background-color: $backgroundColorWhite;
}
.main-container {
	position: relative;
	max-width: 1440px;
	height: 200vh;
	margin: 0 auto;
}
.main {
	max-width: 1120px;
	position: relative;
	margin: 0 auto;
	padding: 0;
	background-color: $backgroundColor;
}
.main__title {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: $backgroundColor;
	padding: 24px 0;
	height: 40px;
	background-color: $backgroundColor;
	width: 100%;
}
.main__container-list-menu {
	display: flex;
	max-width: 1120px;
	margin: 0 auto;
	padding: 0;
	background-color: $backgroundColor;
}
.main__right-container {
	display: none;
	align-items: center;
	margin-left: auto;
}
.main__service-text {
	margin-left: 12px;
	font-family: $bold;
	font-size: 28px;
	line-height: 40px;
	&::before {
		position: absolute;
		content: url(../img/title/highlight.svg);
		transform: translateX(-12px);
	}
}
.main__order-label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: auto;
	font-family: $medium;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: $textColor;
	cursor: pointer;
}
.main__order {
	display: flex;
	min-width: 40px;
	height: 40px;
	background-color: $btnRed;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-left: 9px;
	margin-right: 32px;
	&:hover {
		opacity: 0.6;
		animation-name: btm_rotate;
		animation-duration: 0.6s;
		animation-fill-mode: forwards;
	}
}
.main__status-label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: $medium;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: $textColor;
	cursor: pointer;
}
.main__status {
	display: flex;
	min-width: 40px;
	height: 40px;
	background-color: $btnRed;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-left: 9px;
	margin-right: 32px;
	&:hover {
		opacity: 0.6;
		animation-name: btm_rotate;
		animation-duration: 0.6s;
		animation-fill-mode: forwards;
	}
}
.main__list-menu {
	-webkit-padding-start: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	display: flex;
	overflow-x: scroll;
	list-style-type: none;
	background-color: $backgroundColor;
	padding: 7px 16px;
	&::-webkit-scrollbar {
		height: 0;
	}
}
.main__list-menu-link {
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	font-family: $normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: $textLightColor;
	padding: 7px 17px;
	&:focus {
		border: $borderWidthBold solid $borderSectionColor;
		border-radius: 6px;
		padding: 5px 15px;
		background-color: $backgroundColorWhite;
		margin-right: 0;
		letter-spacing: -0.2px;
	}
	a {
		&:link {
			color: $textLightColor;
		}
	}
}
.main__container-description {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 16px;
}
.main__text-container {
	display: flex;
	width: 99.99%;
	flex-grow: 1;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 0 16px 0 16px;
}
.main__description {
	display: inline-block;
	font-family: $normal;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;
	color: $textColor;
	width: 100%;
	max-height: 90px;
	overflow-y: hidden;
}
.main__description--opend {
	max-height: max-content;
}
.main__read-more {
	display: flex;
	width: auto;
	align-items: flex-start;
	margin-top: 16px;
	margin-bottom: 16px;
	font-family: $medium;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: $textColor;
	padding-left: 0;
	background-color: $backgroundColor;
	&:hover {
		cursor: pointer;
		color: $btnRed;
        transition: 0.45s;
	}
}
.main__img-container {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	max-width: 450px;
	margin: 0 auto;
}
