.header {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.header__pick-row {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: 24px 16px;
	border-bottom: 1px solid $borderSectionColor;
	background-color: $backgroundColorWhite;
}
.header__burger {
	display: flex;
	flex-direction: row;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-right: 16px;
	&::after {
		display: none;
		content: url(../img/pick-row/divider.svg);
		height: 32px;
		width: 2px;
		border-radius: 1px;
		background-color: $borderBoxColor;
		transform: translateX(20px);
	}
}
.header__logo {
	display: flex;
	font-size: 30px;
	text-transform: uppercase;
	height: 40px;
	align-items: center;
	margin-right: 16px;
	margin-left: 0;
}
.header__call {
	display: none;
	margin-left: auto;
	&:hover {
		opacity: 0.6;
		animation-name: btm_rotate;
		animation-duration: 0.6s;
		animation-fill-mode: forwards;
	}
}
.header__feedback {
	display: none;
	margin-left: 16px;
	&:hover {
		opacity: 0.6;
		animation-name: btm_rotate;
		animation-duration: 0.6s;
		animation-fill-mode: forwards;
	}
}
.header__profile {
	display: none;
	margin-left: 16px;
	margin-right: 40px;
	&:hover {
		opacity: 0.6;
		animation-name: btm_rotate;
		animation-duration: 0.6s;
		animation-fill-mode: forwards;
	}
}
.header__repair {
	display: flex;
	margin-left: auto;
	&:hover {
		opacity: 0.6;
		animation-name: btm_rotate;
		animation-duration: 0.6s;
		animation-fill-mode: forwards;
	}
	&::before {
		content: url(../img/pick-row/divider.svg);
		height: 32px;
		width: 2px;
		border-radius: 1px;
		background-color: #eaeaea;
		transform: translateX(-30px);
	}
}
.header__status {
	display: flex;
	margin-left: 16px;
	&:hover {
		opacity: 0.6;
		animation-name: btm_rotate;
		animation-duration: 0.6s;
		animation-fill-mode: forwards;
	}
}