button {
    padding: 0;
    margin: 0;
}
.price-wrapper {
    display: flex;
	flex-wrap: wrap;
    height: auto;
    padding: 16px;
    background-color: #f8f8f8;
}
.price-box {
    display: flex;
    min-width: 260px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
}
.price-box__wrapper {
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px;
        span {
            font-family: TT Lakes medium;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #1B1C21;
            white-space: nowrap;
        }
    }
.price-box__act {
        width: 100%;
        padding-bottom: 16px;
    }
.price-box__cost {
        width: 100%;
        padding-bottom: 16px;
    }
.price-box__time {
        width: 100%;
        button {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(-16px) 
                        translateY(-16px);
        }
    }
.price-box__title {
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    
}
.price__explanation {
    padding: 16px 0 16px 16px;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}
.price__offer {
    padding-left: 16px;
    text-decoration: none;
    font-family: TT Lakes medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    &::after {
        position: absolute;
		content: url(../img/text/angle.svg);
        transform: translateX(5px) translateY(2px);
    }
    &:hover {
        font-size: 18px;
        color: fuchsia;
        transition: 0.45s;
    }
    .price__header {
        display: flex;
        flex-wrap: nowrap;
    }
}